<!DOCTYPE html>
<html>
<head>
    <script src="https://kit.fontawesome.com/1c9c212f99.js" crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='base.css') }}">
      
</head>
<body onload="activateLink()">
    <div class="topnav">

        <div class="right-links">
            <div class="dropdown">
                <button class="dropbtn"><i class="fa-solid fa-child-reaching fa-xl"></i></button>
                <div class="dropdown-content">
                    <a href="{{ url_for('changepassword') }}">Change Password <i class="fa-solid fa-key fa-xs"></i></a>
                    <a href="{{ url_for('logout') }}">Sign out <i class="fa-solid fa-arrow-right-from-bracket"></i></a>
                </div>
            </div>
        </div>
    </div>

        {% block approver %}{% endblock %}
		{% block student %}{% endblock %}

    <script>

function activateLink() {
  var path = window.location.pathname;
  var links = document.getElementsByTagName("a");
  for (var i = 0; i < links.length; i++) {
    var linkPath = links[i].pathname;
    if (path.startsWith(linkPath)) {
      links[i].classList.add("active");
    } else {
      links[i].classList.remove("active");
    }
  }
}




    </script>
</body>
</html>

