{% extends "index.html" %}

{% block content %}
<div class="changePassCard">
    <h1>Change Password</h1>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <div class="change-labels">
            {{ form.current_password.label(class_='form-label') }}
            {{ form.current_password(class_='form-control', size=32) }}
        </div>
        <div class="change-labels">
            {{ form.new_password.label(class_='form-label') }}
            {{ form.new_password(class_='form-control', size=32) }}
        </div>
        <div class="change-labels">
            {{ form.confirm_new_password.label(class_='form-label') }}
            {{ form.confirm_new_password(class_='form-control', size=32) }}
        </div>
        <div class="change-labels">
            {{ form.submit(id='signIn-btn', class_='btn btn-primary') }}
        </div>
    </form>
</div>

{% endblock %}
