{% extends 'student.html' %}
{% block home %}



          <div class="bio-card">
            <h1>Bio Information:</h1> 
            <br>
            <table>
                
                <tr>
                  <td class="tdl">Name:</td>
                  <td class="tdr">{{ current_user.first_name }} {{ current_user.last_name }}</td>
    
                </tr>
                <tr>
                  <td class="tdl">Email:</td>
                  <td class="tdr">{{ current_user.email }}</td>
    
                </tr>
                <tr>
                  <td class="tdl">Student ID:</td>
                  <td class="tdr">{{ current_user.student_id }}</td>
    
                </tr>
    
              </table>
		
            
          </div>






{% endblock %}